<mat-drawer-container autosize>
	<mat-drawer
		[mode]="!!(closeScreen$! | async) ? 'over' : 'side' "
		[opened]="isOpen$ | async"
		(closed)="closeDrawerExpandedView()"
		class="c-required-width"
		role="navigation"
	>
		<div class="p-4 text-lg font-bold text-center text-indigo-500">Examples</div>
		<mat-nav-list>
			<mat-list-item
				*ngFor="let link of links"
				[routerLink]="link.routerLink"
				routerLinkActive="c-active-router-link"
				(click)="saveRouterLink(link.name)"
			>
				{{ link.name }}
			</mat-list-item>
		</mat-nav-list>
	</mat-drawer>

	<mat-drawer-content>
		<div class="p-4 flex items-center gap-4">
			<button mat-flat-button (click)="toggleMatDrawerExpandedView()">
				<mat-icon>menu</mat-icon>
				toggle menu
			</button>
			<span class="text-2xl text-red-400">{{ activeLink }}</span>
		</div>
		<div class="c-container">
			<router-outlet></router-outlet>
		</div>
	</mat-drawer-content>
</mat-drawer-container>
