:host {
	mat-drawer-container {
		overflow: visible;
		height: 100vh;
	}

	.c-required-width {
		width: 15%;
		min-width: 300px;
	}

	.c-container {
		padding: 16px;
		min-height: 100vh;
	}

	.c-active-router-link {
		background-color: #d1d1d1;
	}
}
