<h2>Composition API example</h2>

<div class="component-wrapper">
	<div>Function call execution: {{functionCallExecution}}</div>
	<button mat-flat-button color="primary">Just for fun</button>
</div>

<!-- search anime -->
<app-search-anime [formControl]="animeSearchControl"></app-search-anime>

<!-- table header -->
<app-table-header></app-table-header>

<!-- table body -->
<div *ngFor="let data of loadedAnime$ | async" class="anime-wrapper">
	<div>{{ data.title_english ?? data.title }}</div>
	<div>{{ data.source }}</div>
	<div>{{ data.duration }}</div>
	<div>{{ data.score }}</div>
	<div>{{ hardMathEquasionAsyncFunctionCall(data) | async }}</div>
</div>
