<!-- example 1. -->
<h1>Example 1. FxFlex</h1>
<div
  class="wrapper"
  fxLayout
  fxLayoutGap="10px"
  fxLayout.xs="column"
  fxLayoutGap.xs="0"
>
  <div class="item item-1" fxFlex.gt-xs="35">fxFlex="35%"</div>
  <div class="item item-2" fxFlex.gt-xs="20" fxFlexOrder="3">fxFlex="20%"</div>
  <div class="item item-3" fxFlex>fxFlex</div>
</div>

<div class="divide"></div>

<!-- example 2. -->
<h1>Example 2. FxFlex</h1>

<div
  class="wrapper"
  fxLayout
  fxLayoutGap="20px"
  fxLayout.xs="column"
  fxLayoutGap.xs="6px"
>
  <div class="item item-4" fxFlex fxFlexOffset="50px" fxFlexOffset.xs="0">
    fxFlexOffset="50px"
  </div>
  <div class="item item-5" fxFlex="200px" fxFlex.xs="100%">Item 5 200px</div>
</div>

<div class="divide"></div>

<!-- example 3. -->
<h1>Example 3. FxFlex</h1>
<div class="wrapper" fxLayout.lt-sm="column" fxLayout="row" fxLayoutGap="10px">
  <div
    class="item item-1"
    fxLayoutAlign="center center"
    fxFlexOrder.lt-sm="0"
    fxFlexOrder="2"
  >
    fxFlex 1st
  </div>
  <div
    class="item-big item-2"
    fxFlex
    fxFlexOrder="1"
    fxLayoutAlign="center center"
  >
    fxLayoutAlign="center center"
  </div>
  <div class="item item-3" fxFlexOrder.lt-sm="2" fxFlexOrder="0">
    fxFlex 3rd
  </div>
</div>

<!-- example 4. -->
<h1>Example 4. Grid</h1>

<div
  gdAreas=" content | header | side  |  footer"
  gdAreas.gt-sm="header header | side content | footer footer"
  gdGap="16px"
  gdRows="auto auto auto"
>
  <div class="item item-1" gdArea="header">Header</div>
  <div class="item item-2" gdArea="side">Side</div>
  <div class="item item-3" gdArea="content">Content</div>
  <div class="item item-4" gdArea="footer">Footer</div>
</div>
