/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// disabled state for mat forms
fieldset {
	clear: both;

	&:disabled {
		cursor: not-allowed;
		pointer-events: none;

		mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-outline {
			background: #e3e3e3;
			border-radius: 8px;
		}
	}
}
