:host {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 24px;

  .left {
    grid-column: 1 / 3;
  }
  .right {
    display: flex;
    flex-flow: column;
    gap: 12px;
  }
}
