<!-- Example from Flex to Grid -->
<h2>From Flex to Grid on resize</h2>
<div class="c-example-1">
  <div class="item item-1">Item</div>
  <div class="item item-2">Item</div>
  <div class="item item-3">Item</div>
  <div class="item item-4">Item</div>
</div>

<!-- Custom class on LG and up -->
<h2>Custom class on LG and UP</h2>
<div class="g-custom-height lg:g-background-secondary">Lolololo</div>

<h3>Random</h3>
<div class="tw-p-4 tw-flex tw-gap-4 tw-justify-around">
  <button
    mat-flat-button
    class="tw-animate-bounce hover:tw-animate-spin tw-text-primary-color-dark tw-bg-slate-400"
  >
    Random text
  </button>

  <button
    mat-flat-button
    class="tw-animate-bounce tw-text-primary-color-dark tw-bg-slate-400 lg:tw-bg-red-500"
  >
    Random text 2
  </button>
</div>
