<!-- start -->
<span class="g-bubble hidden xs:flex" [ngClass]="{'c-disabled': localCurrentPage === 0}" (click)="onPageChange(0)">
	<mat-icon>skip_previous</mat-icon>
</span>

<!-- previous -->
<span class="g-bubble" [ngClass]="{'c-disabled': localCurrentPage === 0}" (click)="onPageChange(localCurrentPage - 1)">
	<mat-icon>navigate_before</mat-icon>
</span>

<!-- bubbles with number 1,2,3.... -->
<span
	*ngFor="let bubbleIndex of renderingBubblesHelper | slice: previousSliceIndex : localCurrentPage + 3"
	class="g-bubble xs:flex"
	[ngClass]="{
        'g-bubble__active': bubbleIndex === localCurrentPage
    }"
	(click)="onPageChange(bubbleIndex)"
>
	{{ bubbleIndex + 1}}
</span>

<!-- next -->
<span
	class="g-bubble"
	[ngClass]="{'c-disabled': localCurrentPage >= renderingBubbles -1}"
	(click)="onPageChange(localCurrentPage + 1)"
>
	<mat-icon>navigate_next</mat-icon>
</span>

<!-- end -->
<span
	class="g-bubble hidden xs:flex"
	[ngClass]="{'c-disabled': localCurrentPage >= renderingBubbles - 1}"
	(click)="onPageChange(renderingBubbles - 1)"
>
	<mat-icon>skip_next</mat-icon>
</span>
