// issue with missing material css on build
// link: https://stackoverflow.com/questions/57960983/angular-elements-doesnt-include-material-theme-css-properly
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

:host {
	.wrapper {
		padding: 16px;
		width: 90%;
		margin: auto;
	}

	mat-card {
		mat-card-content {
			mat-progress-bar {
				margin-bottom: 16px;
			}
		}
		mat-card-actions {
			display: flex;
			gap: 16px;
			button {
				width: 100%;
			}
		}
	}
}
