/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	padding: 24px;
}

.anime-wrapper {
	display: grid;
	grid-template-columns: 2fr 1fr 2fr 1fr 1fr;
	margin-bottom: 4px;
	gap: 8px;
	padding: 6px 10px;
	background-color: #cccccc;
	border-radius: 8px;

	:first-child {
		color: #046c9f;
	}

	:last-child {
		text-align: center;
		color: #a60707d6;
	}
}

.component-wrapper {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 6px;
}

.component-wrapper-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 6px;
}

.anime-wrapper-header {
	display: grid;
	grid-template-columns: 2fr 1fr 2fr 1fr 1fr;
	margin-bottom: 4px;
	gap: 8px;
	padding: 6px 10px;
	background-color: #cccccc;
	border-radius: 8px;
	font-weight: 600;

	& > * {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	:last-child {
		text-align: center;
	}
}
