<h2>Pipe call component</h2>

<div class="component-wrapper">
	<div>Dummy text</div>
	<button mat-flat-button color="primary" (click)="onClick()">Just for fun</button>
</div>

<!-- search anime -->
<app-search-anime [formControl]="animeSearchControl"></app-search-anime>

<!-- table header -->
<app-table-header></app-table-header>

<!-- table body -->
<div *ngFor="let data of loadedAnime$ | async" class="anime-wrapper">
	<div>{{ data.title_english ?? data.title }}</div>
	<div>{{ data.source }}</div>
	<div>{{ data.duration }}</div>
	<div>{{ data.score }}</div>
	<!-- <div>{{ (data| hardMathEquasion) | async }}</div> -->
	<div>{{ (data| hardMathEquasionMemo) | async }}</div>
</div>
