<div class="c-wrapper">
  <!-- users -->
  <ct-test-ui-card title="All users">
    <ct-test-all-user (addClickEmitter)="onUserClick($event)"></ct-test-all-user>
  </ct-test-ui-card>

  <!-- groups -->
  <ct-test-ui-card title="Group 1">
    <ct-test-group-data
      [selectedUsers]="selectedUsers"
      (userIndexRemoveEmitter)="onUserIndexRemove($event)"
    ></ct-test-group-data>
  </ct-test-ui-card>

  <!-- useless -->
  <!-- <ct-test-ui-useless-component></ct-test-ui-useless-component> -->
  <ct-test-button1></ct-test-button1>
</div>
