<mat-form-field appearance="outline">
	<mat-label>search anime</mat-label>
	<input matInput [formControl]="searchControl" [matAutocomplete]="auto" />
	<mat-hint>At least 3 characters</mat-hint>

	<!-- display options -->
	<mat-autocomplete #auto="matAutocomplete" [displayWith]="animeDisplayWith">
		<mat-option
			*ngFor="let option of searchedData$ | async"
			[value]="option"
			(onSelectionChange)="onSelectionChange(option, $event)"
		>
			[{{option.source}}]: {{ option.title_english ?? option.title }} ({{option.duration}})
		</mat-option>
	</mat-autocomplete>
</mat-form-field>
