<!-- function call in tempalte -->
<div style="display: flex; gap: 16px">
	<div class="wrapper">
		<app-example-function-call title="Component 1"></app-example-function-call>
	</div>

	<div class="wrapper">
		<app-example-function-call title="Component 2"></app-example-function-call>
	</div>
</div>

<!-- function call in template async -->
<div class="wrapper">
	<app-example-function-call-async></app-example-function-call-async>
</div>

<!-- using pipes -->
<div class="wrapper">
	<app-example-pipe></app-example-pipe>
</div>

<!-- memo -->
<div class="wrapper">
	<app-example-memo></app-example-memo>
</div>
